.App {
  text-align: center;
  
}
#barreNav {
  position: fixed;
  width: 100vw;
}
.imagelogo {
  width: 120px;
  margin-right: 77px;
}
.container-fluid {
  max-width: 1600px!important;
}
.bell {
  height: 30px;
  width: auto;
}
.profil {
  height: 35px;
  width: auto;
}

.inputrecherche {
  text-decoration: #fff;
}
/*-----------------------------------carrousel------------------------*/
.wrapper {
  /* display: grid; */
  position: relative;
  /* grid-template-columns: repeat(3, 100%); */
  overflow: hidden;
  scroll-behavior: smooth;
  background: black;
}

.wrapper #section1 {
  width: 100%;
  position: relative;
  display: flex;
  /* grid-template-columns: repeat(5, auto); */
  margin: 20px 0;
}

.wrapper section .item {
  display: block;
  padding: 0 2px;
  transition: 250ms all;
}

.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.wrapper section .active {
  display: none;
}

.wrapper section a {
  /* position: absolute; */
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.wrapper section a:nth-of-type(1) {
  bottom: 35px;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper section a:nth-of-type(2) {

  bottom: 35px;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.imgMovies{
  height: 20vh;
}

@media only screen and (max-width: 600px) {
  a.arrow__btn {
      display: none;
  }

}

.titreSerie {
  position: absolute;
  top: 164px;
  left: 174px;
  color: white;
  font-size: 60px;
  font-weight: 600;
}

.image {
  background: url(./images/bLogopetit.png) no-repeat;
  height: 52px;
  position: absolute;
  display: inline-block;
  width: 32px;
  margin-left: 10px;
}
.recap {
  height: 750px;
  display: flex;
  flex-direction: row;

}

.recapData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
a {
  margin-right: 10px;
}







